.ivu-form-item {
  label.ivu-form-item-label {
    font-size: 18px;
    font-weight: bold;
  }
}
.color-cell {
  height: 25px;
}
.b-s {
  margin-bottom: 24px;
}
.b-no-margin {
  margin-bottom: 0;
}
.quantile {
  .ivu-collapse {
    border: 0;
    .ivu-collapse-item > .ivu-collapse-header {
      border-bottom: 1px #C9C9C9 solid;
    }
    .ivu-collapse-content {
      padding: 5px;
    }
    >.ivu-collapse-item {
      border: 0;
    }
  }
  #map {
    width: calc(100vw - 460px);
    height: calc(100vh - 100px);
  }
}

